name: CI dos Projetos Front/Back de Microsserviços Calculos

on:
    push:
        branches: [develop, release/24.07.1]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          
            - name: Baixando Codigos Fontes
              uses: actions/checkout@v3

            - name: Setup NodeJS 20
              uses: actions/setup-node@v4
              with:
                node-version: '20'

            - name: Instalando Dependências do react-app-calculos
              working-directory: ./clients/react/app-calculos
              run: npm install --save-dev @babel/plugin-proposal-private-property-in-object

            - name: Build react-app-calculos
              working-directory: ./clients/react/app-calculos
              run: npm run build

            - name: Setup JDK 17
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '17'
                cache: maven

            - name: Build do MS Calculos
              working-directory: ./api-rest
              run: mvn package -Pdevelopment

            - name: Build do MS Calculos Processor
              working-directory: ./calculo-processor
              run: mvn package -Pdevelopment
