name: CI/CD Microsserviços Calculos

on:
    push:
        branches: [release/24.07]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          
            - name: Definindo Variaveis de Ambiente
              working-directory: ./
              run: |
                echo "MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}" >> .env
                echo "MYSQL_USER=${{ secrets.MYSQL_USER }}" >> .env
                echo "MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}" >> .env
                echo "MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}" >> .env
                echo "TAG_VERSION=${{ github.run_id }}" >> .env

            - name: Baixando Codigos Fontes
              uses: actions/checkout@v3

            - name: Logando no Docker Hub
              uses: docker/login-action@v2.0.0
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Setup NodeJS 20
              uses: actions/setup-node@v4
              with:
                node-version: '20'

            - name: Instalando Dependências do react-app-calculos
              working-directory: ./clients/react/app-calculos
              run: npm install --save-dev @babel/plugin-proposal-private-property-in-object

            - name: Build react-app-calculos
              working-directory: ./clients/react/app-calculos
              run: npm run build

            - name: Gerando Imagem da aplicação Front React
              working-directory: ./clients/react/app-calculos
              run: |
                docker build -t ${{ secrets.DOCKER_USERNAME }}/ft-calculos-react:${{ github.run_id }} .
                docker push ${{ secrets.DOCKER_USERNAME }}/ft-calculos-react:${{ github.run_id }}

            - name: Setup JDK 17
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '17'
                cache: maven

            - name: Build do MS Calculos
              working-directory: ./api-rest
              run: mvn package -Pdevelopment

            - name: Build do MS Calculos Processor
              working-directory: ./calculo-processor
              run: mvn package -Pdevelopment

            - name: Gerando Imagens dos Microsserviços
              working-directory: ./
              run: docker compose build
              env:
                MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
                MYSQL_USER: ${{ secrets.MYSQL_USER }}
                MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
                MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}

            - name: Enviando Imagens para o Docker Hub
              run: |
                docker tag ${{ secrets.DOCKER_USERNAME }}/ms-calculos:latest ${{ secrets.DOCKER_USERNAME }}/ms-calculos:${{ github.run_id }}
                docker tag ${{ secrets.DOCKER_USERNAME }}/ms-calculos-processor:latest ${{ secrets.DOCKER_USERNAME }}/ms-calculos-processor:${{ github.run_id }}
                docker push ${{ secrets.DOCKER_USERNAME }}/ms-calculos:${{ github.run_id }}
                docker push ${{ secrets.DOCKER_USERNAME }}/ms-calculos-processor:${{ github.run_id }}

            - name: Realizando Deploy e Executando a Stack na VPS
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.VPS_HOST }}
                username: ${{ secrets.VPS_USER }}
                key: ${{ secrets.SSH_VPS }}
                port: ${{ secrets.VPS_PORT }}
                script: |
                  docker stop $(docker ps -aq)
                  cd ../sistema/stack
                  grep -q '^TAG_VERSION=' .env && sed -i 's/^TAG_VERSION=.*/TAG_VERSION=${{ github.run_id }}/' .env || echo 'TAG_VERSION=${{ github.run_id }}' >> .env
                  docker compose up -d
                  docker run -p 8000:8000 ${{ secrets.DOCKER_USERNAME }}/ft-calculos-react:${{ github.run_id }}
                  docker ps
